div.promo
  div.promo__main
    h2.promo__title Запуск деятельности ПИФ и УК ПИФ
    +site-nav({
      items: [
        'Создание ПИФ',
        'Создание ЗПИФ',
        'Написание ПДУ ПИФ',
        'Создание и Лицензирование УК',
        'Покупка и продажа УК',
      ],
    })

  figure.promo__banner
    img(src="./assets/images/promo-1.png", alt="")
