mixin alert(props)
  if props.error
    section.alert.alert--error
      div.alert__container #[b Ошибка!] #[br] Что-то пошло не так, повторите попытку позже.
      button(type="button" arial-label="Закрыть всплывающее окно").alert__close
        span
        
  if props.request
    section.alert.alert--request
      div.alert__container #[b Спасибо, ваше обращение отправлено!] 
      button(type="button" arial-label="Закрыть всплывающее окно").alert__close
        span
