.service-card {
  min-height: 230px;
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #F2F2F2;
  gap: 20px;

  @media(max-width: $phone) {
    min-height: 140px;
    padding-top: 12px;
    padding-right: 14px;
    padding-bottom: 12px;
    padding-left: 14px;
    gap: 10px;
  }

  &__icon {
    width: 120px;
    height: 120px;
    margin-top: auto;
    margin-bottom: auto;
    flex-shrink: 0;

    @media(max-width: $tablet) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: contain;
    }
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0;
    margin-bottom: 20px;
    font-family: var(--font-secondary);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--color-heading-1);
    overflow: hidden;
    text-overflow: ellipsis;

    @media(max-width: $phone) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  &__main {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    color: var(--color-heading-1);
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;

    @media(max-width: $phone) {
      font-size: 15px;
      line-height: 20px;
    }

    p {
      margin: 0;
    }
  }

  &__link {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    border-radius: 50%;
    flex-shrink: 0;
    transition: transform 0.3s;

    @media(max-width: $phone) {
      width: 40px;
      height: 40px;
    }

    &:hover {
      @media(min-width: $desktop-only) {
        transform: scale(1.2);
      }
    }

    &:after {
      width: 24px;
      height: 24px;
      color: #ffffff;
      background-color: currentColor;
      mask-size: cover;
      mask-position: center right;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMgMTJIMjFNMjEgMTJMMTIuNSAzLjVNMjEgMTJMMTIuNSAyMC41IiBzdHJva2U9IiNFRTI3MzciIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
      content: '';

      @media(max-width: $phone) {
        width: 18px;
        height: 18px;
      }
    }
  }
}