header.header
  div.container
    div.header__wrapper
      a(href="#").header__logo
        img(src="./assets/images/logo.svg" width='180' height='51' alt="")
      ul.header__list
        li.header__item
          a(href="#1").header__link Запуск деятельности ПИФ и УК ПИФ
        li.header__item
          a(href="#2").header__link Сопровождение  деятельности ПИФ и УК ПИФ
        li.header__item
          a(href="#3").header__link Контакты

      button(type='button').header__burger
        span

    div.header__mobile-nav
      include ../mobile-nav/mobile-nav