.header {
  position: sticky;
  z-index: 5;
  top: 0;
  background-color: #ffffff;
  transition: transform var(--transition);

  @media print {
    display: none;
  }

  &__wrapper {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    @media(max-width: $tablet) {
      height: 80px;
      min-height: auto;
    }
  }

  &__logo {
    width: 180px;

    @media(max-width: $tablet) {
      width: 150px;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 35px;

    @media(max-width: $tablet) {
      display: none;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
    transition: color var(--transition);

    &:hover {
      @media(min-width: $desktop-only) {
        color: var(--color-primary);
      }
    }
  }

  &__burger {
    display: none;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: rgba(203, 51, 59, 0.10);
    border-radius: 50%;
    user-select: none;

    @media(max-width: $tablet) {
      display: flex;
    }

    span {
      position: relative;
      display: inline-block;
      width: 18px;
      height: 2px;
      transform: translateX(-3px);
      color: var(--color-heading-1);
      background-color: currentColor;
      border-radius: 2px;
      vertical-align: bottom;
      transition: background-color var(--transition);

      &:before {
        position: absolute;
        top: -7px;
        left: 0;
        width: 12px;
        height: 2px;
        transition: top var(--transition) var(--transition), transform var(--transition), width var(--transition) var(--transition);
        background-color: currentColor;
        border-radius: 2px;
        transform-origin: 50% 50%;
        content: '';
      }

      &:after {
        position: absolute;
        top: 7px;
        left: 0;
        width: 24px;
        height: 2px;
        transition: top var(--transition) var(--transition), transform var(--transition), width var(--transition) var(--transition);
        background-color: currentColor;
        border-radius: 2px;
        transform-origin: 50% 50%;
        content: '';
      }
    }
  }

  &__mobile-nav {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100dvh - 80px);
    flex-direction: column;
    background-color: #ffffff;
    transition:
      transform var(--transition) var(--transition),
      visibility var(--transition),
      opacity var(--transition);
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    overflow-y: auto;
    pointer-events: auto;
  }

  &--hidden {
    transform: translateY(-120%);
  }

  &--dropdown {
    @media(max-width: $tablet) {

      .header {

        &__fixed {
          background-color: #ffffff;
        }

        &__mobile-nav {
          transition:
            visibility var(--transition),
            opacity var(--transition);
          visibility: visible;
          opacity: 1;
          // transform: translateX(0);
        }
      }
    }

    .header__burger span {
      width: 24px;
      background-color: transparent;
      transform: translateX(0);
      transition:
        transform var(--transition) 0s,
        width var(--transition),
        background-color var(--transition);

      &:before {
        top: 0;
        width: 24px;
        transition: top var(--transition), transform var(--transition) var(--transition), width var(--transition);
        transform: rotate3d(0, 0, 1, 45deg);
      }

      &:after {
        top: 0;
        width: 24px;
        transition: top var(--transition), transform var(--transition) var(--transition), width var(--transition) var(--transition);
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }

  &--fixed {
    @include dropShadow;
  }
}