.request {
  display: flex;
  align-items: center;
  gap: 100px;

  @media(max-width: $desktop) {
    gap: 60px;
  }

  &__banner {
    width: 100%;
    max-width: 450px;
    margin: 0;
    padding: 0;

    @media(max-width: $tablet) {
      display: none;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: contain;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 60px;
    flex-grow: 1;

    @media(max-width: $tablet) {
      gap: 30px;
    }
  }

  &__title {
    @include h2;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media(max-width: $tablet) {
      gap: 20px;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: min-content;
    gap: 30px;
    flex-grow: 1;

    @media(max-width: $tablet) {
      gap: 20px;
    }
  }

  &__field {
    font-size: var(--font-size-b2);
    font-weight: 400;
    line-height: 28px;
    color: var(--color-body);

    .button {
      width: 100%;

      @media(max-width: $phone) {
        margin-top: 10px;
      }
    }

    &--wide {
      grid-column: 1 / -1;
    }
  }

  &__legal {
    display: flex;
    align-items: center;
    gap: 30px;

    @media(max-width: $phone) {
      flex-direction: column;
      align-items: unset;
      gap: 20px;
    }

    p {
      margin: 0;
    }

    a:not([class]) {
      color: var(--color-primary);
      text-decoration: underline;
      transition: text-decoration-color 0.3s;
      text-decoration-color: currentcolor;
      text-underline-position: under;

      &:hover {
        @media(min-width: $desktop-only) {
          text-decoration-color: transparent;
        }
      }
    }
  }
}