.intro {
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: none;
    user-select: none;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      max-width: 50%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.00) 102.45%);
      content: '';

      @media(max-width: $tablet) {
        max-width: unset;
      }
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 430px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: var(--font-secondary);
    font-size: var(--font-size-b2);
    line-height: var(--line-height-b2);
    gap: 30px;

    h1,
    h2,
    p,
    ul,
    li {
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    gap: 10px;

    @media(max-width: $phone) {
      font-size: 36px;
      line-height: 44px;
      gap: 0;
    }

    &:before {
      position: absolute;
      top: -70px;
      left: 100%;
      width: 140px;
      height: 140px;
      background-color: rgba(203, 51, 59, 0.10);
      border-radius: 50%;
      content: '';

      @media(max-width: $tablet) {
        display: none;
      }
    }

    small {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      text-transform: uppercase;

      @media(max-width: $phone) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    em {
      color: var(--color-primary);
      font-style: normal;
      font-weight: 700;
    }
  }

  &__actions {
    display: flex;
    gap: 20px;

    @media(max-width: $phone) {
      flex-direction: column;
      margin-top: auto;
      gap: 10px;
    }
  }
}