section.intro
  figure.intro__background 
    img(src="./assets/images/intro-1.jpg", alt="")
  div.intro__wrapper
    div.container
      div.intro__content
        h1.intro__title
          small #[em инфинитум] консалтинг
          span Все услуги
        p Здесь может быть какой-то дополнительный текст, но необязательно
        div.intro__actions
          a(href='#3').button Связаться
          a(href="https://infinitumonline.ru/infinitum-consult/" target='_blank').button.button--grey О компании
