.slider {
  position: relative;

  &__swiper {

    @media(max-width: $tablet) {
      margin-right: -30px;
      margin-left: -30px;
      padding-right: 30px;
      padding-left: 30px;
    }

    @media(max-width: $phone) {
      margin-right: -15px;
      margin-left: -15px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
  }

  &__item {
    width: unset;
    height: unset;

    .service-card {
      height: 100%;

      @media(max-width: $tablet) {
        width: 388px;
      }

      @media(max-width: $phone) {
        width: 288px;
      }
    }
  }

  &__nav {
    display: none;

    @media(max-width: $tablet) {
      display: flex;
    }
  }

  &__buttons {
    position: absolute;
    top: calc(50% - 20px);
    right: -50px;
    left: -50px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition:
      visibility var(--transition),
      opacity var(--transition);
    // visibility: hidden;
    // opacity: 0;
    pointer-events: none;

    @media(max-width: $tablet) {
      display: none;
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    border-radius: 50%;
    color: var(--color-primary);
    background: 0;
    transition: color var(--transition);
    pointer-events: auto;
    overflow: hidden;
    cursor: pointer;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      @media(min-width: $desktop-only) {
        &:after {
          transform: scale(1.5);
        }
      }
    }

    &:not(:disabled):active {}

    &:disabled {
      visibility: hidden;
      opacity: 0;
      cursor: not-allowed;
    }

    &:after {
      width: 100%;
      height: 100%;
      display: block;
      color: var(--color-primary);
      background-color: currentColor;
      mask-size: cover;
      mask-position: center right;
      mask-repeat: no-repeat;
      transition: transform var(--transition);
    }

    svg {
      display: block;
      width: 16px;
      height: 16px;
      stroke: currentcolor;
      fill: currentcolor;
    }

    &--next {

      &:after {
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE1IDEwTDI1IDIwTDE1IDMwIiBzdHJva2U9IiNFRTI3MzciIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
        content: '';
      }
    }

    &--prev {

      &:after {
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI1IDEwTDE1IDIwTDI1IDMwIiBzdHJva2U9IiNFRTI3MzciIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
        content: '';
      }
    }
  }

  &__pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    pointer-events: none;
    gap: 5px;
  }

  &__bullet {
    width: 8px;
    height: 8px;
    color: #d9d9d9;
    background-color: currentColor;
    border-radius: 50%;
    transition: color var(--transition);
    pointer-events: auto;
    cursor: pointer;

    @media(max-width: $phone) {
      width: 8px;
      height: 8px;
    }

    &--active {
      color: var(--color-heading-1);
    }
  }
}