div.mobile-nav
  div.container
    div.mobile-nav__wrapper
      ul.mobile-nav__list
        li.mobile-nav__item 
          a(href="#").mobile-nav__link Запуск деятельности ПИФ и УК ПИФ 
        li.mobile-nav__item 
          a(href="#").mobile-nav__link Сопровождение  деятельности ПИФ и УК ПИФ
        li.mobile-nav__item 
          a(href="#").mobile-nav__link Контакты